---

- name: Ensure logrotate package is present
  package:
    name: logrotate
    state: present
  register: pkg_result
  until: pkg_result is success

- name: Ensure logrotate.d directory exists
  file:
    dest: /etc/logrotate.d
    state: directory
    mode: '0755'

- name: review logrotate configuration
  replace:
    dest: /etc/logrotate.conf
    regexp: "{{ item.re }}"
    replace: "{{ item.rep }}"
    backup: "{{ syslogclient_backup | default(false) }}"
  with_items:
    - { re: '^(weekly|daily|monthly)', rep: "{{ syslogclient_logrotate_period }}" }
    - { re: '^rotate .*', rep: "rotate {{ syslogclient_logrotate_rotate|int }}" }

- block:
    - name: Ensure gnupg2 is present
      package:
        name: gnupg2
        state: present
    - name: Recover keyid from file
      slurp:
        src: "{{ syslogclient_logrotate_encrypt_keyfile }}"
      register: keyfile
      when: syslogclient_logrotate_encrypt_keyfile|string and not syslogclient_logrotate_encrypt_keyid|string
    - name: Set fact for keyid
      set_fact:
        syslogclient_logrotate_encrypt_keyid: "{{ keyfile['content'] | b64decode }}"
      when: syslogclient_logrotate_encrypt_keyfile|string and not syslogclient_logrotate_encrypt_keyid|string
  when: syslogclient_logrotate_encrypt|bool

- name: Configure default logrotate
  blockinfile:
    dest: /etc/logrotate.conf
    insertafter: '^#compress'
    block: |
      {% if syslogclient_logrotate_compress %}
      compress
      delaycompress
      {% endif %}
      {% if syslogclient_logrotate_datext %}
      dateext
      dateformat {{ syslogclient_logrotate_datformat }}
      {% endif%}
      {% if syslogclient_logrotate_shred %}
      shred
      {% endif%}
      {% if syslogclient_logrotate_encrypt and syslogclient_logrotate_encrypt_keyid|string %}
      compresscmd /usr/bin/gpg2
      compressoptions --encrypt --default-key {{ syslogclient_logrotate_encrypt_keyid }}
      compressext .gpg
      {% endif%}

# validation failed on Alpine if files don't exist
- block:
    - name: Configure logrotate
      template:
        src: "{{ syslogclient_logrotate_syslog_template }}"
        dest: "{{ _logrotate_syslog_cfg }}"
        mode: '0644'
        backup: "{{ syslogclient_backup | default(false) }}"
        validate: 'logrotate -dv %s'

    - name: Configure logrotate extras
      template:
        src: "{{ item }}.j2"
        dest: "/etc/logrotate.d/{{ item | basename | regex_replace('^logrotate-', '') }}"
        mode: '0644'
        backup: "{{ syslogclient_backup | default(false) }}"
        validate: 'logrotate -dv %s'
      with_items: "{{ syslogclient_logrotate_syslog_template_extras }}"
  when: ansible_distribution != 'Alpine'
- block:
    - name: Alpine | Configure logrotate
      template:
        src: "{{ syslogclient_logrotate_syslog_template }}"
        dest: "{{ _logrotate_syslog_cfg }}"
        mode: '0644'
        backup: "{{ syslogclient_backup | default(false) }}"

    - name: Alpine | Configure logrotate extras
      template:
        src: "{{ item }}.j2"
        dest: "/etc/logrotate.d/{{ item | basename }}"
        mode: '0644'
        backup: "{{ syslogclient_backup | default(false) }}"
      with_items: "{{ syslogclient_logrotate_syslog_template_extras }}"
  when: ansible_distribution == 'Alpine'
