---

- name: Ensure logrotate package is present
  package:
    name: logrotate
    state: present
  register: pkg_result
  until: pkg_result is success

- name: Ensure logrotate.d directory exists
  file:
    dest: /etc/logrotate.d
    state: directory
    mode: '0755'

- name: Configure logrotate
  template:
    src: "{{ syslogclient_logrotate_syslog_template }}"
    dest: "{{ _logrotate_syslog_cfg }}"
    mode: '0644'
    backup: yes
    validate: 'logrotate -dv %s'

- name: Configure logrotate extras
  template:
    src: "{{ item }}.j2"
    dest: "/etc/logrotate.d/{{ item | basename }}"
    mode: '0644'
    backup: yes
    validate: 'logrotate -dv %s'
  with_items: "{{ syslogclient_logrotate_syslog_template_extras }}"
