---

- name: Include distribution-specific variables
  include_vars: "{{ ansible_distribution }}.yml"

- include: debian.yml
  when: ansible_os_family == 'Debian'

- include: redhat.yml
  when: ansible_os_family == "RedHat"

- include: alpine.yml
  when: ansible_distribution == 'Alpine'

- name: enable and start rsyslog service
  service: name=rsyslog state=started enabled=yes
  ignore_errors: true

- name: get rsyslog version
  shell: "rsyslogd -v | awk -F'[ ,]' '/rsyslogd/ { print $2 }'"
  changed_when: false
  register: rsyslog_v

- include: timestamp.yml
  when: syslogclient_highprecisiontimestamp

- name: Ensure rsyslog.d directory exists
  file:
    dest: /etc/rsyslog.d
    state: directory
    mode: '0755'

- name: ensure extra log directory exists
  file:
    dest: "{{ item.d }}"
    state: directory
    mode: '0755'
    owner: "{{ item.o | default(syslog_user) }}"
    group: root
  with_items: "{{ rsyslog_conf_d_extradirs }}"

# FIXME! alternative for Alpine which does not use rsyslog.d
- name: Configure rsyslog
  template:
    src: "{{ item }}.j2"
    dest: "/etc/rsyslog.d/{{ item | regex_replace('^rsyslog-', '') }}"
    owner: root
    group: root
    mode: '0644'
    validate: 'rsyslogd -N2 -f %s'
  notify:
    - restart rsyslog
  with_items: "{{ rsyslog_conf_d | default([]) }}"

## http://www.rsyslog.com/sending-messages-to-a-remote-syslog-server/
## Note: Alpine only has one file /etc/rsyslog.conf, how to cleanly include config block inside?
- block:
    - debug: var=syslogclient_server
    - name: logging to remote syslog
      template:
        src: 10-remotesyslog
        dest: /etc/rsyslog.d/10-remotesyslog.conf
        owner: root
        group: root
        mode: '0644'
        validate: 'rsyslogd -N2 -f %s'
      notify:
        - restart rsyslog
  when: syslogclient_server is defined and syslogclient_server

- debug: var=ansible_virtualization_type
- name: container config cleaning
  replace:
    dest: "{{ item.f }}"
    regexp: "{{ item.re }}"
    replace: "{{ item.rep }}"
    backup: yes
    validate: 'rsyslogd -N2 -f %s'
  with_items:
    - { f: '/etc/rsyslog.d/50-default.conf', re: "^daemon\\.\\*;mail\\.\\*;", rep: "#daemon.*;mail.*;" }
    - { f: '/etc/rsyslog.d/50-default.conf', re: "^\tnews.err;", rep: "#\tnews.err;" }
    - { f: '/etc/rsyslog.d/50-default.conf', re: "^\t\\*\\.=debug;\\*\\.=info;", rep: "#\t*.=debug;*.=info;" }
    - { f: '/etc/rsyslog.d/50-default.conf',
        re: "^\t\\*\\.=notice;\\*\\.=warn\t\\|/dev/xconsole",
        rep: "#\t*.=notice;*.=warn\t|/dev/xconsole"
      }
    - { f: '/etc/rsyslog.conf', re: '^\$KLogPermitNonKernelFacility on', rep: '#$KLogPermitNonKernelFacility on' }
    - { f: '/etc/rsyslog.conf', re: '^module\(load="imklog"\)', rep: '#module(load="imklog")' }
## FIXME! when enabled, kills all logging ...
#    - { f: '/etc/rsyslog.d/21-cloudinit.conf', re: '^\\& \\~', rep: 'stop' }
  notify:
    - restart rsyslog
  when: >
    (ansible_virtualization_type is defined and
      (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
    ) and ansible_os_family == "Debian"

- block:
    - name: logging to remote syslog in json
      template:
        src: 01-json-template
        dest: /etc/rsyslog.d/01-json-template.conf
        owner: root
        group: root
        mode: '0644'
        validate: 'rsyslogd -N2 -f %s'
      notify:
        - restart rsyslog
  when: syslogclient_use_json is defined and syslogclient_use_json

- include: remote-auditd.yml
  when: >
    syslogclient_forward_auditd and
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
        ) and
    not (ansible_distribution == 'RedHat' and ansible_distribution_major_version|int == 8)

- include: logrotate.yml

- include: journald.yml
  when: >
    (ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 7) or
    (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int >= 16)
