---

- name: yum | Install rsyslog server
  yum: name=rsyslog state=present

- name: allow rsyslogd to connect non-standard ports with selinux
  seport:
    ports: "{{ item.port }}"
    proto: "{{ item.proto }}"
    setype: syslogd_port_t
    state: present
  with_items: "{{ syslogclient_selinux_ports }}"
