---

- name: yum | Install rsyslog server
  ansible.builtin.yum: name=rsyslog state=present
  register: pkg_result
  until: pkg_result is success

- name: Check FileCreateMode setting
  ansible.builtin.lineinfile:
    dest: /etc/rsyslog.conf
    regexp: '^\$FileCreateMode .*'
    line: '$FileCreateMode 0640'
    insertbefore: '^### RULES ###'
    backup: "{{ syslogclient_backup | default(false) }}"

- name: allow rsyslogd to connect non-standard ports with selinux
  seport:
    ports: "{{ item.port }}"
    proto: "{{ item.proto }}"
    setype: syslogd_port_t
    state: present
  with_items: "{{ syslogclient_selinux_ports }}"
