---

## http://wiki.rsyslog.com/index.php/Centralizing_the_audit_log

- name: Debian | ensure auditd is present
  package: name=auditd state=present
  when: ansible_os_family == 'Debian'
- name: RedHat | ensure auditd is present
  package: name=audit state=present
  when: ansible_os_family == 'RedHat'

- name: use dedicate log and syslog target for audisp
  template:
    src: rsyslog-audispd.conf.j2
    dest: /etc/rsyslog.d/40-audispd.conf
    mode: '0644'
    backup: yes
    validate: 'rsyslogd -N2 -f %s'
  notify:
    - restart rsyslog

- name: ensure audisp syslog is active
  replace:
    dest: /etc/audisp/plugins.d/syslog.conf
    regexp: '^active = .*'
    replace: 'active = yes'
    backup: yes
  notify:
    - restart auditd
    - restart auditd - rhel7
