---

## http://wiki.rsyslog.com/index.php/Centralizing_the_audit_log

- name: Debian | ensure auditd is present
  package: name=auditd state=present
  when: ansible_os_family == 'Debian'
- name: RedHat | ensure auditd is present
  package: name=audit state=present
  when: ansible_os_family == 'RedHat'

- name: ensure audisp syslog is active
  replace:
    dest: /etc/audisp/plugins.d/syslog.conf
    regexp: '^active = .*'
    replace: '^active = yes'
    backup: yes

