---

- name: Enable high precision timestamp
  ansible.builtin.replace:
    dest: /etc/rsyslog.conf
    regexp: '^\$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat'
    replace: '#$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat'
    owner: root
    group: root
    mode: '0644'
    validate: 'rsyslogd -N2 -f %s'
