---

- name: restart rsyslog
  service: name=rsyslog state=restarted

- name: restart auditd
  service: name=auditd state=restarted
  when: not (ansible_virtualization_type is defined and (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")) and not (ansible_os_family == "RedHat" and ansible_distribution_version.split('.')[0] == '7')

- name: restart auditd - rhel7
  command: "service auditd restart"
  environment:
    PATH: '/usr/sbin:/usr/bin:/sbin:/bin'
  when: not (ansible_virtualization_type is defined and (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")) and (ansible_os_family == "RedHat" and ansible_distribution_version.split('.')[0] == '7')
