---

- name: Restart rsyslog
  ansible.builtin.service: name=rsyslog state=restarted
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "docker" or ansible_virtualization_type == "containerd")
        )

- name: Restart systemd-journald
  ansible.builtin.service: name=systemd-journald state=restarted
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "docker" or ansible_virtualization_type == "containerd")
        )

- name: Restart auditd
  ansible.builtin.service:
      name: auditd
      state: restarted
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker" or
          ansible_virtualization_type == "containerd")
        ) and
    not (
        (ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 7) or
        (ansible_os_family == "Suse" )
    )

- name: Restart auditd - rhel7+
  ansible.builtin.command: "service auditd restart"  # noqa command-instead-of-module
  environment:
      PATH: '/usr/sbin:/usr/bin:/sbin:/bin'
  args:
      warn: False
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker" or
          ansible_virtualization_type == "containerd")
        ) and
    (ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 7)
