{{ ansible_managed | comment }}
if ($programname == 'dnscrypt-proxy') then {{ syslogclient_dnscryptproxy_syslog_target | default('/var/log/dnscryptproxy.log') }}
{% if rsyslog_v is defined and rsyslog_v and rsyslog_v|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
