{{ ansible_managed | comment }}
if ($programname == 'osqueryd') then {{ syslogclient_osqueryd_syslog_target | default('/var/log/osqueryd.log') }}
{% if rsyslog_v is defined and rsyslog_v and rsyslog_v|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
