{{ ansible_managed | comment }}
local1.notice                    {{ syslogclient_bash_syslog_target | default('/var/log/bash.log') }}
{% if rsyslog_v is defined and rsyslog_v|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
