{{ ansible_managed | comment }}
## /etc/logrotate.d/iptables
/var/log/iptables/iptables.log {
    rotate {{ syslogclient_logrotate_rotate|int }}
    {{ syslogclient_logrotate_period }}
{% if syslogclient_logrotate_datext %}
        dateext
        dateformat {{ syslogclient_logrotate_datformat }}
{% endif%}
    missingok
    notifempty
{% if syslogclient_logrotate_compress %}
        compress
        delaycompress
{% endif %}
    create 640 root adm
    postrotate
        invoke-rc.d rsyslog rotate > /dev/null
    endscript
}
/var/log/iptables/ip6tables.log {
    rotate {{ syslogclient_logrotate_rotate|int }}
    {{ syslogclient_logrotate_period }}
{% if syslogclient_logrotate_datext %}
        dateext
        dateformat {{ syslogclient_logrotate_datformat }}
{% endif%}
    missingok
    notifempty
{% if syslogclient_logrotate_compress %}
        compress
        delaycompress
{% endif %}
    create 640 root adm
    postrotate
        invoke-rc.d rsyslog rotate > /dev/null
    endscript
}
