{{ ansible_managed | comment }}
## /etc/logrotate.d/osquery
/var/log/osquery/osqueryd.results.log {
    rotate {{ syslogclient_logrotate_rotate|int }}
    {{ syslogclient_logrotate_period }}
{% if syslogclient_logrotate_datext %}
    dateext
    dateformat {{ syslogclient_logrotate_datformat }}
{% endif%}
    missingok
    notifempty
{% if syslogclient_logrotate_compress %}
    compress
    delaycompress
{% endif %}
    create 640 {{ syslog_user }} adm
    sharedscripts
}
