{{ ansible_managed | comment }}
# default is 200 messages in 5 sec
# https://www.rsyslog.com/tag/rate-limiting/
# https://access.redhat.com/solutions/156863
# https://www.rivy.org/2013/03/howto-adapt-the-rate-limiting-of-rsyslog/
# or journald: https://www.rootusers.com/how-to-change-log-rate-limiting-in-linux/
{% if not (
    (ansible_virtualization_type is defined and
      (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
    ) and not ansible_os_family == 'Debian'
   )
%}
$ModLoad imuxsock.so
{% endif %}

$ModLoad imjournal

# command 'SystemLogRateLimitInterval' is currently not permitted - did you already set it via a RainerScript command (v6+ config)? [v8.1901.0 try https://www.rsyslog.com/e/2222 ]
$imjournalRateLimitInterval {{ rsyslog_rate_limit_interval }}
$imjournalRateLimitBurst 2000
